@model Unscrambled.Areas.Coordinator.Models.ViewModels.DeletePlayersConfirmationPageView



<div id="app" class="app_bg">
        <div id="appContainer">
            <div id="headerRegion">
                <table class="headerRegionTable">                  
                    <tbody>
                        <tr>
                            <td class="sectionTitle">Delete Players</td>
                            <td class="sectionLinks"></td>
                            <td class="sectionLinks"></td>
                            <td class="sectionLinks"><a href="@Url.Action("MyGames","Game")">Game List</a></td>
                        </tr>
                    </tbody>     
                </table>
                </div>

            <div id='dialogRegion'>
                <div id="partnerLogoLayer"></div>
                <div id="contentRegion" role="main" style="display: block;">
<div id="contentLayer">

<form class="delete-players-confirmation-form" action="/Coordinator/Game/DeletePlayersConfirmed" method="post" name="delete_players_confirmation" id="delete_players_confirmation">
<input type="hidden" name="GameID" value="@Model.deletePlayersConfirmationViewModel.Game.ID" />
 


    <table class="grid">
    <tbody>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                <table cellpadding="0" cellspacing="0" border="0" class="grid">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"><span id="txtblk_00"><span class="main">Are you sure you want to delete the following players from your game?</span></span></td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
        </tr>
       
    </tbody>

</table>


    <table class="formTable" width="100%">
        <col style="width:5%">
        <col style="width:0%">
        <col style="width:40%">
        <col style="width:15%">
        <col style="width:40%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Player</th>
                <th>Index</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @{
        int playerNumber = 1;
        string playerIDStr = "PlayerIDToDelete";
    }

    @foreach (var player in Model.deletePlayersConfirmationViewModel.PlayersToDelete)
    {
        playerIDStr = "PlayerIDToDelete";
        playerIDStr = playerIDStr + playerNumber.ToString();
        @:<tr>
            <td>@playerNumber.ToString()</td>
            <td>@Html.Hidden("PlayerIDToDelete" + playerNumber, player.ID)</td>
            <td>@player.Name</td>
            <td>@player.PlayerIndex</td>
            <td></td>
        @:</tr>
        
        playerNumber = playerNumber + 1;
       
    }
   </tbody>


</table>
    <div id="answerLayer" style="visibility: inherit;">
        <div class="ansL"><a href="@Url.Action("SetPlayers", "Game", new { id = @Model.deletePlayersConfirmationViewModel.Game.ID})" class="linkButton"><span class="textInLinkButton">Cancel</span></a></div>
        <div class="ansR"><button id="PlayerSubmitAndDoneButton" name="SubmitForm" class="submit" type="submit" value="SaveAndDone">Yes Do It</button></div>
    </div>

</form>

</div>






                  

   

    
</form>
    
