@model Unscrambled.Areas.Coordinator.Models.ViewModels.StartRoundPageView



<div id="app" class="app_bg">
        <div id="appContainer">
            <div id="headerRegion">
                <table class="headerRegionTable">                  
                    <tbody>
                        <tr>
                            <td class="sectionTitle">Fix Game Errors</td>
                            <td class="sectionLinks"></td>
                            <td class="sectionLinks"></td>
                            <td class="sectionLinks"><a href="@Url.Action("MyGames","Game")">Game List</a></td>
                        </tr>
                    </tbody>     
                </table>
                </div>

            <div id='dialogRegion'>
                <div id="partnerLogoLayer"></div>
                <div id="contentRegion" role="main" style="display: block;">
<div id="contentLayer">
    <table class="grid">
    <tbody>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                <table cellpadding="0" cellspacing="0" border="0" class="grid">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"><span id="txtblk_00"><span class="main">You cannot start your game until you fix the following errors:</span></span></td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
        </tr>
       
    </tbody>

</table>


    <table class="formTable" width="100%">
        <col style="width:5%">
        <col style="width:0%">
        <col style="width:40%">
        <col style="width:15%">
        <col style="width:40%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Error</th>
                <th>Link</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var error in Model.errorList)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>@error.ErrorMessage</td>
                    <td>@Html.ActionLink("Fix", error.Category, new { id = Model.gameId }) </td>
                    <td></td>
                </tr>
            }
   </tbody>
</table>
    <div id="answerLayer" style="visibility: inherit;">
        <div class="ansL"><a href="@Url.Action("GameDetails", "Game", new { id = @Model.gameId})" class="linkButton"><span class="textInLinkButton">Cancel</span></a></div>
        <div class="ansR"><a href="@Url.Action("GameDetails", "Game", new { id = @Model.gameId})" class="linkButton"><span class="textInLinkButton">Goto 1st Issue</span></a></div>
    </div>
</form>

</div>






                  

   

    
</form>
    
