@model Unscrambled.Areas.Coordinator.Models.ViewModels.StartRoundConfirmationPageView



<div id="app" class="app_bg">
        <div id="appContainer">
            <div id="headerRegion">
                <table class="headerRegionTable">                  
                    <tbody>
                        <tr>
                            <td class="sectionTitle">Start Game Confirmation</td>
                            <td class="sectionLinks"></td>
                            <td class="sectionLinks"></td>
                            <td class="sectionLinks"><a href="@Url.Action("MyGames","Game")">Game List</a></td>
                        </tr>
                    </tbody>     
                </table>
                </div>

            <div id='dialogRegion'>
                <div id="partnerLogoLayer"></div>
                <div id="contentRegion" role="main" style="display: block;">
<div id="contentLayer">
    <table class="grid">
    <tbody>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                <table cellpadding="0" cellspacing="0" border="0" class="grid">
                    <tbody>
                        <tr>
                            @if (Model.Round.RoundNumberInGame == 1 && Model.Game.NumberOfRounds == 1)
                            {
                                <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"><span id="txtblk_00"><span class="main">Once you start the round, you will not be able to edit game details or make changes to this round.</span></span></td>
                            }
                            else if (Model.Round.RoundNumberInGame == 1 && Model.Game.NumberOfRounds > 1)
                            {
                                <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"><span id="txtblk_00"><span class="main">Once you start the first round, you will not be able to edit game details or make changes to this round.  You will be able to make changes to the unstarted rounds in your game.</span></span></td>
                            }
                            else
                            {
                                <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"><span id="txtblk_00"><span class="main">Once you start the first round, you will not be able to edit game details or make changes to this round.  You will be able to make changes to the unstarted rounds in your game.</span></span></td>
                            }                          
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
        </tr>
       
    </tbody>

</table>

@if (Model.warningList.Count() > 0)
{
        <table class="formTable" width="100%">
            <col style="width:0%">
            <col style="width:0%">
            <col style="width:80%">
            <col style="width:10%">
            <col style="width:10%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Warning</th>
                    <th>Link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var warning in Model.warningList)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>@warning.WarningMessage</td>
                        <td>@Html.ActionLink("Fix", warning.Category, new { id = Model.Game.ID}) </td>
                        <td></td>
                    </tr>
                }
       </tbody>
    </table>
        

}

<form class="start-round-confirmation-form" action="/Coordinator/Game/StartRoundConfirmed" method="post" name="start_round_confirmation" id="start_round_confirmation">
<input type="hidden" name="GameID" value="@Model.Game.ID" />
<input type="hidden" name="RoundID" value="@Model.Round.ID" />
 


    <table class="grid">
    <tbody>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                <table cellpadding="0" cellspacing="0" border="0" class="grid">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"><span id="txtblk_00"><span class="main">Are you sure you want to start your game?</span></span></td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
        </tr>
       
    </tbody>

</table>


 
    <div id="answerLayer" style="visibility: inherit;">
        <div class="ansL"><a href="@Url.Action("SetFoursomes", "Game", new { id = @Model.Round.ID})" class="linkButton"><span class="textInLinkButton">Cancel</span></a></div>
        <div class="ansR"><button id="StartRoundSubmitAndDoneButton" name="SubmitForm" class="submit" type="submit" value="SaveAndDone">Yes Do It</button></div>
    </div>

</form>
</div>






                  

   

    
</form>
    
