@model Unscrambled.Areas.Coordinator.Models.ViewModels.ViewGameDetailsPageView
@using Unscrambled.Areas.Coordinator.ViewHelpers

<div id="app" class="app_bg">
        <div id="appContainer">
            <div id="headerRegion">
                <table class="headerRegionTable">                  
                    <tbody>
                        <tr>
                            <td class="sectionTitle">@ViewBag.SectionTitle</td>
                            @if (Model.viewGameDetailsVM.game.GameStateID == 1)
                            {
                                <td class="sectionLinks"><a href="@Url.Action("EditGameDetails", "Game", new { id = @Model.viewGameDetailsVM.game.ID})">Edit Game</a></td>
                            }
                            else
                            {
                                <td class="sectionLinks"></td>
                            }
                            <td class="sectionLinks"><a href="@Url.Action("MyGames", "Game", new { id = @Model.viewGameDetailsVM.game.ID})">Game List</a></td>
                        </tr>
                    </tbody>     
                </table>
                </div>

            <div id='dialogRegion'>
                <div id="partnerLogoLayer"></div>
                <div id="contentRegion" role="main" style="display: block;">


<div id="contentLayer">
        
<table class="grid">
    <tbody>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                <table cellpadding="0" cellspacing="0" border="0" class="grid">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"><span id="txtblk_00"><span class="main">Your game details are below.  Once the game is started, you won't be able to make changes.</span></td>         
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
        </tr>
       
    </tbody>

</table>

    <table class="formTable" width="100%">
        <col style="width:30%">
        <col style="width:35%">
        <col style="width:35%">
        <tbody>
        <tr>
                <td>Game Name</td>
                <td>@Model.viewGameDetailsVM.game.Name</td>
                <td></td>
        </tr>
        <tr>
                <td>Number Of Players/Teams:</td>
                <td>@Model.viewGameDetailsVM.game.NumberOfPlayersOrTeams</td>
                <td></td>
        </tr>

            <tr>
                <td>Game Type:</td>
                <td>@Model.viewGameDetailsVM.gameType</td>
                <td></td>
        </tr>
        <tr>
                <td>Is Handicapped?:</td>
                <td>@Model.viewGameDetailsVM.game.IsHandicapped</td>
                <td></td>
        </tr>
        <tr>
                <td>Number of Rounds:</td>
                <td>@Model.viewGameDetailsVM.game.NumberOfRounds</td>
                <td></td>
        </tr>
            <tr>
                <td>Game State:</td>
                @if (@Model.viewGameDetailsVM.game.GameStateID == 1)
                {
                    <td>Not Started</td>
                }
                else if (@Model.viewGameDetailsVM.game.GameStateID == 2)
                {
                    <td>In Progress</td>
                }
                <td></td>
        </tr>
        </tbody>
</table>
    <div id="answerLayer" style="visibility: inherit;">
        <div class="ansL"><a href="@Url.Action("MyGames", "Game", new { id = @Model.viewGameDetailsVM.game.CoordinatorID })" class="linkButton"><span class="textInLinkButton">Back to Course</span></a></div>
        <div class="ansR"><a href="@Url.Action("Handicaps", "Game", new { id = @Model.viewGameDetailsVM.game.ID })" class="linkButton"><span class="textInLinkButton">To Players</span></a></div>
    </div>
</div>




@helper numberOfPlayers(int numberOfPlayers)
{
    if (numberOfPlayers == 0)
    {
        Html.Raw("");
    }
    else
    {
        numberOfPlayers.ToString();
    }
}

@helper isHandicapOnFirstPass(String isFirstPass, String isHandicapStr )
{
    if (isFirstPass == "YES")
    {
        @("blah");
    }
    else
    {
        @("isHandicapStr");
    }
}

@helper isVisible(bool hasErrors)
{
    if (hasErrors == true)
    {
        @("visible");
    }
    else
    {
        @("hidden");
    }
}